 <!--Web Scrape and Add Comments - index.handlebars-->
 <!--Created by Ariel - 5.17.2017-->
 <!--==================================================-->
 <div class="header">
     <div class="row">
         <div class="col s12">
             <h1>Recipe Scraper</h1>
         </div>
     </div> <!--/.row-->
 </div> <!--/.header-->
 <div id="wrapper" class="container">
     <!--<div class="main">-->
         <div class="row">
            <div class="col s6">
                <div id="articles">
                    <ul>
                        {{#each foobar}}
                            <li>
                                <p data-id="{{this.id}}">
                                    {{this.title}} <br>
                                    <img src="{{this.link}}"> <br>
                                    {{this.summary}}
                                </p>
                            </li>
                        {{/each}}


                    </ul>
                </div>
            </div>
             <div class="col s6">
                <div id="comments">
                    testing, testing 1 2 3
                </div>
            </div>

         </div> <!--/.row-->
     <!--</div>&lt;!&ndash;/.main&ndash;&gt;-->
 </div><!--/#wrapper /.container-->

 <footer class="page-footer">
     <div class="footer-copyright">
         <div class="container">
             © 2017 Ariel M. Costa
             <a class="grey-text text-lighten-4 right" href="https://github.com/amcosta9/webscrape">GitHub</a>
         </div>
     </div>
 </footer>